html { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

header,
main,
footer {
	font-family: 'Roboto', Arial, sans-serif;
}

header,
section,
aside,
nav,
main,
footer {
  display: block;
}

main {
	background-color: ffffff;
	color: #283136;
}

a {
	text-decoration: none;
}

.page-header {
	display: flex;
	justify-content: space-between;
  background-color: #eeeeee;
  min-height: 545px;
  margin: 0;
  padding: 0;
} 

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.header-logo {
	width: 160px;
	height: 70px;
	color: #303030;
	padding-top: 49px;
	border-bottom: 60px;
}

.main-nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.header-site-nav {
	display: flex;
  justify-content: space-between;
	width: 440px;
	list-style: none;
}

.basket {
	width: 160px;
}

.header-site-nav,
.basket {
  margin: 0;
  padding: 0;
  padding-top: 49px;
  text-transform: uppercase;
}

.header-site-nav a,
.basket a {
  color: #000000;
}

.header-site-nav a:hover,
.basket a:hover {
	color: #fb565a;
}

.header-site-nav a:focus,
.basket a:focus {
  opacity: 0.5;
}

.header-site-nav a:active,
.basket a:active {
	color: #000000;
	border-bottom: 2px solid #fb565a; 
}

.header-promo {
  display: flex;
  justify-content: space-between;
}

.header-promo ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-promo-item {
	font-size: 55px;
	line-height: 55px;
	font-weight: bold;
	color: #000000;
}

.header-sub-promo {
	font-size: 16px;
	line-height: 24px;
}

 /* Кнопку нужно стилизовать */
.button-findout-more a {
 	display: table-cell;
 	width: 240px;
 	height: 50px;
 	font-size: 16px;
 	line-height: 18px;
 	color: #ffffff;
 	background-color: #fb565a;
 	vertical-align: middle;
 	text-align: center;
 	text-transform: uppercase;
}

.header-image-1,
.header-image-2,
.header-image-3 {
	position: relative;
}

.btn-button {
	position: absolute;
	left: 105px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.features {
  margin-bottom: 80px;
}

.features-list {
	display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
 	list-style: none;
}

.feature-item {
  width: 300px;
  min-height: 146px;
}

.feature-item h3 {
	font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.feature-item .features-btn {
	display: table-cell;
	width: 160px;
	height: 50px;
	font-size: 16px;
 	line-height: 18px;
	color: #ffffff;
 	vertical-align: middle;
 	text-align: center;
	text-transform: uppercase;
}

.btn-order-red {
	background-color: #fb565a;
}

.btn-order-green {
  background-color: #00ca74;
}

.btn-order-orange {
  background-color: #efc84a;
}

.about-us-promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.content-promo {
	font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: bold;
}

.content-sub-promo {
	font-size: 16px;
	line-height: 24px;
}

.what-we-do-title,
.work-description {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.what-we-do {
	list-style: none;
	font-size: 16px;
	line-height: 48px;
}

.percent-list {
  list-style: none;
}

.percent-list span {
 	font-size: 45px;
 	line-height: 11px;
 	font-weight: bold;
}

/* sites block */

.list-of-sites {
	display: flex;
  justify-content: space-between;
	list-style: none;
	font-size: 108px;
 	line-height: 24px;
}

/* map block */
.map-block {
	width: 100%;
	min-height: 416px;
	position: relative;
}

.contacts {
	position: absolute;
	top: 105px;
	left: 130px;
}

.contact-title span {
	position: absolute;
	top: 54px;
	left: 51px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
	color: #000000;
}

.contact-address {
	position: absolute;
	top: 103px;
	left: 51px;
	font-size: 16px;
	line-height: 18px
}

.contact-phone {
	position: absolute;
	top: 158px;
	left: 51px;
}

.btn-feedback-item {
	position: absolute;
	top: 211px;
	left: 51px;
  background-color: #fb565a;
	width: 219px;
  height: 50px;
  color: white; 
  border: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

/* footer block */
.page-footer {
	width: 1140px;
	min-height: 217px;
	background-color: #ffffff;
	margin-top: 40px;
}

.footer-container {
  display: flex;
	justify-content: space-between;
}

.footer-socials {
	display: flex;
	justify-content: space-between;
  list-style: none;
}

.social-btn {
	background-color: #969696;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	margin-right: 12px;
	opacity: 0.4;
}

.social-btn-ins {
	margin-right: 140px;
}

.footer-comment-item {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	margin-bottom: 0;
}

.footer-sub-comment {
	font-size: 16px;
	color: #444444;
}

.write-us .container {
  position: relative;
  outline: 2px solid grey;
  width: 960px;
  height: 590px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.write-us-title {
	position: absolute;
	top: 53px;
	left: 90px;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.write-us-form {
	width: 760px;
	/* height: 330px; */
}

.name label {
	position: absolute;
	top: 180px;
	left: 90px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
} 

.name input {
	width: 363px;
	height: 50px;
	position: absolute;
	top: 205px;
	left: 90px;
}

.email label {
	display: inline-block;
	position: absolute;
	top: 180px;
	left: 505px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.email input {
	display: inline-block;
	width: 363px;
	height: 50px;
	position: absolute;
	top: 205px;
	left: 505px;
}
 

.message label {
	position: absolute;
	top: 305px;
	left: 90px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.message textarea {
	position: absolute;
	top: 330px;
	left: 90px;
}
 
.write-us-form .btn-send {
	position: absolute;
	top: 480px;
	left: 90px;
  font-size: 16px;
  line-height: 18px;
  display: table-cell;
  width: 260px;
  height: 50px;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

 /* catalog.html */

 .container h1 {
 	font-size: 55px;
 	line-height: 55px;
 	text-align: center;
 }

.main-content {
	display: flex;
	justify-content: space-between;
}

.filter-grid h3,
.filter-features h3,
.filters h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.btn-filter {
	display: table-cell;
	width: 260px;
	height: 50px;
	background-color: #bbbbbb;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
}

.btn-filter-show {
	color: #000000;
}

.catalog h3 {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.sorting-list {
  display: flex;
  justify-content: flex-end;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorting-by-price {
 	font-size: 14px;
	line-height: 18px;
	color: #000000;
	margin-right: 25px;
}

.sorting-by-type,
.sorting-by-name {
 	font-size: 14px;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
	margin-right: 25px;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item-price {
	position: relative;
}

.catalog-item-title {
	position: absolute;
	top: 35px;
	left: 145px;
	font-weight: bold;
 	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.catalog-item-barber {
	position: absolute;
	top: 35px;
	left: 120px;
	font-weight: bold;
 	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.catalog-item-kvast {
 	position: absolute;
	top: 35px;
	left: 150px;
	font-weight: bold;
 	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.catalog-info {
	position: absolute;
	top: 80px; 
	left: 85px;
 	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-align: center;
}

.catalog-info-sedona {
	position: absolute;
	top: 80px; 
	left: 100px;
 	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-align: center;
}

.catalog-info-pink {
  position: absolute;
	top: 80px; 
	left: 80px;
 	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-indent: 1.5em;
}

.catalog-info-barber {
	position: absolute;
	top: 80px; 
	left: 100px;
 	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-align: center;
}

.catalog-info-mishka {
	position: absolute;
	top: 80px; 
	left: 115px;
 	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-align: center;
}

.btn-price {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

.btn-price span {
	display: block;
  padding-top: 18px;
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	color: #000000;
}

.pagination-item-next a {
	color: #000000;
}