html { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
	text-decoration: none;
}

/* ==========Хедер========== */
.page-header {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  min-width: 1200px;
  min-height: 545px; 
  margin-bottom: 78px;
} 

.container {
	width: 1160px;
	margin: 0 auto;
	/* padding: 0 10px;  */
	box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
 }  

.main-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.header-logo {
	width: 160px;
	height: 70px;
	color: #303030;
	padding-top: 45px;
	margin-bottom: 15px;
	margin-right: 0px;
	/* margin-left: 35px;   */
}

.main-nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
}

.header-site-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* width: 500px;  */
	list-style: none;
	/* margin-left: 35px;  */
	padding-top: 47px;
	text-transform: uppercase;
	padding-left: 0;
}

.header-site-nav li {
	 padding-left: 3px;
}

.header-site-nav li:nth-child(4) {
    margin-left: -1px;
}

.basket a {
	margin: 0;
	padding: 0;
}  

.basket {
	/* display: flex;
	width: 160px;  */
	padding-top: 47px;
	text-transform: uppercase;
	/* margin-left: 63px; */
}

.basket a {
	margin-left: 82px;
} 

.icon-basket {
  position: relative;
  padding-left: 57px;
  background-image: url("../img/cart-icon.svg");
  background-position: 10% 45%;
  background-repeat: no-repeat;
  background-size: 15px;
} 

.header-site-nav a,
.basket a {
	font-weight: bold;
  color: #000000;
}

.header-site-nav a:hover,
.basket a:hover {
	color: #fb565a;
}

.header-site-nav a:focus,
.basket a:focus {
  opacity: 0.5;
}

.header-site-nav li a:active,
.basket a:active {
  color: #bdbdbd;
}

.header-site-nav li a,
.basket a {
	padding-right: 41px;
	font-size: inherit;
  position: relative; 
  color: #000000;
  font-weight: bold;
  letter-spacing: 0.4px; 
  transition: color 0.6s ease;
} 

.header-site-nav li a.active:after
/* .basket a */ {
  content: "";
  display: block;
  height: 2px;
  background: #fb565a;
  position: absolute; 
  left: 0px;
  right: 42px;
  bottom: -5px;
}

/* ============Слайдер============= */

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 54%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  /* margin-left: 35px; */ 
  list-style: none;
}

.slider-item {
  display: none;
  min-width: 1160px;
  min-height: 413px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% -1px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
	letter-spacing: 0.4px;
  max-width: 600px;
  margin: 0;
  padding-top: 60px;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.btn-slider {
  display: block;
  width: 240px;
  padding: 17px 0 15px 0;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.btn-slider:hover,
.btn-slider:focus {
  background-color: #e74246;
}

.btn-slider:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* ============Особенности услуг=========== */

.features {
  margin-bottom: 80px;
}

.features-list {
	display: flex;
  /* justify-content: space-between; */
  margin: 0;
  padding: 0;
  /* margin-left: 35px; */ 
 	list-style: none;
}

.features-list li:nth-child(3) {
	margin-right: 0px;
}

.feature-item {
  width: 300px;
  min-height: 146px;
  margin-right: 100px;
}

.feature-item h3 {
	font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-top: 18px;
  text-transform: uppercase;
}

.feature-item p {
	margin-bottom: 31px;
}

.feature-item-comment-1 {
	margin-top: -7px;
	letter-spacing: -0.2px;
}

.feature-item-comment-2 {
	margin-top: -7px;
	letter-spacing: 0.3px;
}

.feature-item-comment-3 {
	margin-top: -7px;
	letter-spacing: 0.1px;
}

.feature-item-btn {
  display: block;
  width: 160px;
  padding: 18px 0 14px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.btn-order-red {
  background-color: #fb565a;
}

.btn-order-red:hover {
  background-color: #fc5054;
}

.btn-order-red:active {
  background-color: #fc4a4e;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.btn-order-green {
  background-color: #00ca74;
}

.btn-order-green:hover {
  background-color: #01a25e;
}

.btn-order-green:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.btn-order-orange {
  background-color: #efc84a;
}

.btn-order-orange:hover {
  background-color: #d6ae2c;
}

.btn-order-orange:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

/*=============Линия разделитель=========== */

.content-devide {
 /*  margin-left: 35px; */  
	opacity: 0.5;
}
/* =============Блок о нас============= */

.about-us {
	/* min-width: 1200px; */
	margin-top: 40px;
	/* margin-bottom: 58px;
	margin-left: 110px;   */
} 

.about-us-promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.content-promo {
	font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: bold;
 /*  margin-left: -20px; */ 
  margin-top: 34px;
  margin-bottom: 33px;
}

.content-sub-promo {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 38px;
	/* margin-top: -11px;
	 margin-left: -20px */ 
}

.about-us-info h3 {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	/* margin-left: -20px; */ 
	margin-bottom: 25px;
	letter-spacing: 0.1px;
}

.what-we-do {
	list-style: none;
	font-size: 16px;
	line-height: 48px;
	margin: 0;
	padding: 0;
	/* margin-left: -19px; */ 
}

.what-we-do li {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 22px;
  padding-left: 37px; 
}

.what-we-do li:first-child {
	margin-bottom: 26px;
}

.what-we-do li:last-child {
	margin-top: 26px;
  margin-bottom: 0px;
}

.what-we-do li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin: 0 11px 4px -37px;
}

.work-description {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	margin-left: 16px; 
	margin-top: 30px;
	margin-bottom: 40px;
}

.percent-list {
	position: relative;
	display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; 
}

.percent-list span {
 	font-size: 45px;
 	line-height: 11px;
 	font-weight: bold;
 	color: #000000;
}

.percent-item-1 {
	margin-top: 17px;
}

.percent-item-1 sup {
	margin-left: -1px; 
	font-size: 28px;
}

.percent-item-comment-1 {
	padding-top: 3px;
	line-height: 19px;
}

.percent-item-2 {
	margin-top: -101px;
	margin-left: 119px; 
}

.percent-item-2 sup {
  margin-left: -1px; 
	font-size: 28px;
}

.percent-item-comment-2 {
	padding-top: 3px;
	line-height: 19px;
}

.percent-item-3 span {
	position: absolute;
	top: 17px;
	left: 238px;
}

.percent-item-3 sup {
  margin-left: -1px; 
	font-size: 28px;
}

.percent-item-comment-3 {
	position: absolute;
	top: 46px;
	left: 240px;
	line-height: 19px;
}

/*=============Линия разделитель=========== */

.content-devide-2 {
  /* margin-left: 35px;  */
	opacity: 0.5;
}

/* ==============Блок сайтов============ */

.sites {
  position: relative;
  min-height: 100px; 
}

.list-of-sites {
	display: flex;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
	list-style: none;
	/* font-size: 108px;
	  	line-height: 15px;
	  	margin-left: -10px; */
	padding-left: 30px; 
	padding-top: 45px;
	padding-bottom: 6px;
}

.site-htmlacademy {
	/* margin-top: -45px;
	  margin-left: 35px;  */
	  margin-right: 96px;
}

.site-borodinski {
	/* margin-top: -61px;
	margin-left: -26px;  */
	 margin-right: 103px;
	 margin-top: -16px;
}

.site-pink {
	/* margin-top: -43px;
	 margin-left: -20px; */ 
	  margin-right: 122px;
	  margin-top: 4px;
}

.site-mishka {
	/* margin-top: -55px;
	margin-right: -15px; */
	margin-top: -10px;
}

.right-border-1 {
	position: absolute;
  border-right: 2px solid #a6a6a6; 
  width: 2px;
  height: 52px; 
  left: 278px;
  top: 32px;
  opacity: 0.2;
} 

.right-border-2 {
	position: absolute;
  border-right: 2px solid #a6a6a6; 
  width: 2px;
  height: 52px; 
  left: 578px;
  top: 32px;
  opacity: 0.2;
} 

.right-border-3 {
	position: absolute;
  border-right: 2px solid #a6a6a6; 
  width: 2px;
  height: 52px; 
  left: 878px;
  top: 32px;
  opacity: 0.2;
} 

.list-of-sites a {
	opacity: 0.2;
}

.list-of-sites a:hover {
	opacity: 1;
}

.list-of-sites a:active {
	opacity: 0.1;
}

/*=============Линия разделитель=========== */

.content-devide-3 {
 /*  margin-left: 35px; */ 
	opacity: 0.5;
	/* margin-top: -136px; */
}

/* ==============Блок карта============ */

.map-block {
	width: 100%; 
	min-height: 416px;
	position: relative;
	margin-top: 80px; 
}

.map-image  {
	display: block;
	min-height: 416px;
  margin-top: 0px;
  margin-left: 0px;
  overflow: hidden;
} 

.contacts {
  position: absolute;
  top: 54px;
  left: 140px;
  min-height: 308px;
  width: 319px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 45px;
}

.contact-title {
	position: absolute;
	top: 52px;
	margin-left: -5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
	color: #000000;
}

.contacts .contact-address-item {
	position: absolute;
	top: 100px;
	left: 51px;
	line-height: 20px;
}

.contact-phone {
	position: absolute;
	top: 154px;
	left: 50px;
	white-space: pre;
}

.btn-feedback {
  display: block;
  position: absolute;
  top: 211px;
  left: 50px;
  padding: 16px 43px;
  letter-spacing: 0.3px; 
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

/* ============Блок Футер============ */

.page-footer {
	min-width: 1200px;
	background-color: #ffffff;
	margin-top: 96px;
	margin-left: 12px;
}

.page-footer-items {
	display: flex;
}

.footer-socials {
	display: flex;
	list-style: none;
  /* float: left;
  margin-left: -5px;
  margin-top: -18px; */
  padding-left: 0px;
  margin-top: 0;
  margin-right: 128px;
}

/* .footer-socials li {
  margin-right: 12px;
} */

.social-btn-vk {
  background-image: url("../img/vk-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 27px;
}

.social-btn-fb {
  background-image: url("../img/fb-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 12px;
}

.social-btn-ins {
  background-image: url("../img/insta-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px;
}

.footer-socials a {
  font-size: 0;
  display: inline-block;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 12px;
  transition: background 0.6s ease; 
}

.footer-socials a:last-child {
  margin-right: 0;
}

.footer-socials a:hover {
  background-color: #fb565a;
}

.footer-socials a:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.footer-socials a:before {
  font-size: 23px;
  margin-top: 19px;
  margin-left: 20px;
  color: #ffffff;
}

/* .footer-comments {
	float: right;
	margin-right: -20px;
	margin-top: -17px;
} */

.footer-comment-item {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	margin-top: 5px;
	margin-right: 179px;
	letter-spacing: 0.1px;
}

.footer-sub-comment {
	font-size: 16px;
	color: #444444;
	margin-right: -20px;
	margin-top: -26px;
}
/* ===========Модульное окно============ */

.modal {
	position: fixed;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-window {
	display: none;
  position: absolute;
  top: 1835px;
  left: 193px;
  width: 960px;
  height: 590px; 
  background-color: #ffffff;
  box-sizing: border-box;
}

.modal h2 {
	position: absolute;
	top: 43px;
	left: 90px;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.modal-close {
  position: absolute;
  top: 93px;
  right: 78px;
  width: 25px;
  height: 25px; 
  font-size: 0;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg"); 
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  background-size: 25px; 
  cursor: pointer;
  opacity: 0.4;
  border: none;
  outline: none;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.2;
	background-color: #ffffff; 
}

.modal-form {
	width: 760px;
	height: 330px;
}

.input-name label {
	position: absolute;
	top: 170px;
	left: 90px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
} 

input:invalid {
  border-color: #fb565a;
} 

input:valid {
  border-color: #000000;
}

.input-name input {
	position: absolute;
	top: 195px;
	left: 90px;
	width: 353px;
	height: 50px;
	padding-left: 10px;
	border: 2px solid #000000;
	opacity: 0.3;
	border-radius: 3px;
}

.input-email label {
	display: inline-block;
	position: absolute;
	top: 170px;
	left: 505px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.input-email input {
	display: inline-block;
	width: 353px;
	height: 50px;
	position: absolute;
	top: 195px;
	left: 505px;
	padding-left: 10px;
	border: 2px solid #000000;
	opacity: 0.3;
	border-radius: 3px;
}

.message label {
	position: absolute;
	top: 295px;
	left: 90px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.message textarea {
	position: absolute;
	top: 320px;
	left: 90px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 0;
	border: 2px solid #000000;
	opacity: 0.3;
	border-radius: 3px;
}

.input-name input:hover,
.input-email input:hover,
.message textarea:hover  {
	opacity: 0.5;
}

.input-name input:focus,
.input-email input:focus,
.message textarea:focus {
	opacity: 1;
	outline: none;
}
 
.modal-window .btn-send {
	position: absolute;
	top: 470px;
	left: 90px;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 260px;
  padding: 20px 0;
  background-color: #fb565a;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
 
/* =============Страница Каталога============ */

/* ==============Хедер================ */

.page-header-catalog {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 355px; 
  margin-bottom: 52px;
}

.header-logo-catalog {
	width: 160px;
	height: 70px;
	color: #303030;
	margin-top: 46px;
	margin-left: 35px; 
}

.header-logo-catalog a:hover {
  opacity: 0.5;
}

.header-logo-catalog a:active {
  opacity: 0.2;
}

.main-nav-wrapper-catalog {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
}

.header-site-nav-catalog {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 500px;
	list-style: none;
	margin-left: 60px;
	padding-top: 62px;
	text-transform: uppercase;
}

.header-site-nav-catalog li {
	padding-left: 3px;
}

.header-site-nav-catalog li:nth-child(4) {
  margin-left: -2px;
}

.basket-catalog {
	display: flex;
	width: 160px;
	padding-top: 61px;
	text-transform: uppercase;
}

.basket-catalog a {
	margin-left: 84px;
}

.icon-basket-catalog {
  position: relative;
  padding-left: 57px;
  background-image: url("../img/cart-icon.svg");
  background-position: 10% 45%;
  background-repeat: no-repeat;
  background-size: 15px;
} 

.header-site-nav-catalog a,
.basket-catalog a {
	font-weight: bold;
  color: #000000;
}

.header-site-nav-catalog a:hover,
.basket-catalog a:hover {
	color: #fb565a;
}

.header-site-nav-catalog a:focus,
.basket-catalog a:focus {
  opacity: 0.5;
}

.header-site-nav-catalog li a:active,
.basket-catalog a:active {
  color: #bdbdbd;
}

.header-site-nav-catalog li a,
.basket-catalog a {
	padding-right: 41px;
	font-size: inherit;
  position: relative; 
  color: #000000;
  font-weight: bold;
  letter-spacing: 0.4px; 
  transition: color 0.6s ease;
} 

.header-site-nav-catalog li a.active:after
/* .basket a */ {
  content: "";
  display: block;
  height: 2px;
  background: #fb565a;
  position: absolute; 
  left: 1px;
  right: 45px;
  bottom: -11px;
}

.page-header-catalog h1 {
 	font-size: 55px;
 	line-height: 55px;
 	text-align: center;
 	color: #000000;
 	margin-left: 88px;
 	margin-top: 74px;
 }

/* ==============Блок Сайдбар============== */

.main-content {
	display: flex;
	justify-content: space-between;
	margin-left: 35px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin-bottom: 50px; 
} 

.range-filter {
  width: 260px;
  margin-top: 44px;
}

.filter-item legend {
  font-size: 19px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 64%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
	top: 30px;
  left: 18px;
  width: 4px;
  height: 4px;
  background-image: url("../img/filter-button");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 4px;
}

.range-controls .toggle-max {
	top: 30px;
  left: 160px;
  width: 4px;
  height: 4px;
  background-image: url("../img/filter-button");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 4px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px 9px;
  margin-left: 10px; 
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters {
	width: 265px;
}

.filter-grid,
.filter-features {
  margin-bottom: 50px;
}

.filter-grid ul,
.filter-features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid h3 {
	margin-top: 53px;
	margin-bottom: 13px;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.filter-features h3 {
	margin-top: -6px;
	margin-bottom: 13px;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.filter-option {
  margin-bottom: 16px;
  padding-left: 47px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input + label {
	color: #283136;
  opacity: 0.7;
  margin-left: -10px;

}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
  opacity: 1;
}


.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 25px;
  background-color: #ffffff;
}


.filter-input:disabled + label {
  color: #283136;
  opacity: 0.1;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -37px;
  width: 25px;
  height: 25px;
  background-color: #000000;
  border-radius: 50%;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 25px;
  background-color: #ffffff;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 1px;
  width: 25px;
  height: 25px;
  background-color: #ffffff; 
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 25px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -37px;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30px;
  background-color: #ffffff; 
}

.btn-filter {
  display: block;
  width: 0px;
  padding: 17px 170px 15px 90px;
  margin-top: -2px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #bbbbbb;
  border-radius: 3px;
  border: none;
  outline: none;
}

.btn-filter:hover {
  background-color: #b1b1b1;
  outline: none;
}

.btn-filter:active {
  background-color: #a7a7a7;
  color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
  outline: none;
} 

/* ==========Блок с макетами=========== */

.catalog {
  width: 765px;
}

.sorting {
  min-width: 360px;
  margin-bottom: -44px;
}

.sorting h3 {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	margin-top: 0; 
	margin-bottom: 30px; 
	margin-left: 60px;
}

 .sorting-list {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: -55px; 
  margin-bottom: 80px;
  margin-left: 450px;
  list-style: none;
  text-transform: uppercase;
} 

.sorting-list li:last-child {
	margin-right: 0;
}

.sorting-by-price a {
 	font-size: 14px;
	line-height: 18px;
	color: #000000;
	margin-right: 25px;
}

.sorting-by-price a:hover,
.sorting-by-type a:hover,
.sorting-by-name a:hover {
  opacity: 0.5;
}

.sorting-by-price a:active,
.sorting-by-type a:active,
.sorting-by-name a:active {
  opacity: 1;
}

.sorting-by-type a,
.sorting-by-name a {
 	font-size: 14px;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
	margin-right: 25px;
}

.icons {
	display: flex;
	flex-direction: row;
	position: relative; 
}

.icons a {
	position: absolute;
	top: -99px;
	left: 680px;  
	width: 10px;
	height: 10px;
  padding-left: 200px; 
  background-image: url("../img/icon-down-dir.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 10px;
} 

.icons .icon-up {
	position: absolute;
	top: -99px;
	left: 784px;  
	width: 10px;
	height: 10;
	opacity: 0.3;
	padding-left: 50px;
  background-image: url("../img/icon-up-dir.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 10px;
} 

.icons a:hover,
.icon-up:hover {
	opacity: 0.4;
}

.icons a:active,
.icon-up:active {
	opacity: 1;
}


/* ===============Макеты работ============= */

.catalog-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
 
.catalog-list:nth-child(2n) {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	flex-wrap: wrap;
} 

.catalog-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: -6px; 
  position: relative;
}

.catalog-item:nth-child(2n) {
  margin-right: 5px;
}

.catalog-item-image a {
	margin-left: 60px;
}

.catalog-item-header {
	display: flex;
	width: 360px;
	height: 40px;
	margin-left: 60px; 
	margin-bottom: -16px;
	background-image: url("../img/browser.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 360px;
  opacity: 0.2;
}

.catalog-item-header:hover {
	opacity: 1;
}

.catalog-item-image a:hover {
  display: block;
  width: 360px;
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.2),
               0px 0px 10px rgba(0, 0, 0, 0.2);
} 


/* ==============Декор рамка=========== */

.catalog-item-price {
	display: none;
	position: absolute;
	top: 400px;
	left: 61px;
	width: 360px;
	min-height: 231px;
	background-color: #eeeeee;
  box-sizing: border-box;
  padding-top: 20px; 
  text-align: center;
}

.catalog-item:hover .catalog-item-price {
  display: block;
}

.catalog-item-title {
	font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
	color: #000000;
}

.btn-price {
  display: block;
  width: 210px;
  padding: 20px 0; 
  margin-top: 20px;
  margin-left: 80px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

/* ===============Кнопки пагинации===========*/

.pagination-buttons {
  margin-top: 42px;
  margin-left: 62px;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 14px 21px; 
  color: #000000;
  background-color: #eeeeee;
  font-weight: bold;
}

.pagination-item:not(:first-child) a:hover {
	background-color: #e4e4e4;
}

.pagination-item:not(:first-child) a:active {
	background-color: #dadada;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item-current a {
  color: #000000;
  padding: 11px 16px; 
  border: 3px solid #eeeeee;
  background-color: #ffffff;
}

.pagination-item-next a {
	width: 160px;
	padding-left: 80px;
	text-transform: uppercase;
}

/* ==============Блок карта============ */

.map-block-catalog {
	width: 100%; 
	min-height: 416px;
	position: relative;
	margin-top: 59px; 
}

.map-image-catalog  {
	display: block;
	min-height: 416px;
  margin-top: 0px;
  margin-left: 0px;
  overflow: hidden;
} 

.contacts-catalog {
  position: absolute;
  top: 54px;
  left: 140px;
  min-height: 308px;
  width: 319px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 45px;
}

.contact-title-catalog {
	position: absolute;
	top: 52px;
	margin-left: -5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
	color: #000000;
}

.contact-address-item-catalog {
	position: absolute;
	top: 100px;
	left: 51px;
	line-height: 20px;
}

.contact-phone-catalog {
	position: absolute;
	top: 154px;
	left: 50px;
	white-space: pre;
}

.btn-feedback-catalog {
  display: block;
  position: absolute;
  top: 211px;
  left: 50px;
  padding: 16px 43px;
  letter-spacing: 0.3px; 
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

/* ============Блок Футер============ */

.page-footer {
	min-width: 1200px;
	background-color: #ffffff;
	margin-top: 80px;
	
}

.footer-socials {
	display: flex;
	list-style: none;
  float: left;
  margin-left: -5px;
  margin-top: -18px;
}

.footer-socials li {
  margin-right: 12px;
}

.social-btn-vk {
  background-image: url("../img/vk-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 27px;
}

.social-btn-fb {
  background-image: url("../img/fb-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 12px;
}

.social-btn-ins {
  background-image: url("../img/insta-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px;
}

.footer-socials a {
  font-size: 0;
  display: inline-block;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 12px;
  transition: background 0.6s ease; 
}

.footer-socials a:last-child {
  margin-right: 0;
}

.footer-socials a:hover {
  background-color: #fb565a;
}

.footer-socials a:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

.footer-socials a:before {
  font-size: 23px;
  margin-top: 19px;
  margin-left: 20px;
  color: #ffffff;
}

.footer-comments {
	float: right;
	margin-right: -20px;
	margin-top: -17px;
}

.footer-comment-item {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	margin-top: 5px;
	margin-right: 179px;
	letter-spacing: 0.1px;
}

.footer-sub-comment {
	font-size: 16px;
	color: #444444;
	margin-right: -20px;
	margin-top: -26px;
}












